.App {
  text-align: center;
  height:800px;
  border: 1px dashed black;
  background-color: #4e6190;
}
.completed{
  text-decoration: line-through;
  opacity:0.5;
}
.task{
  border: 2px solid black;
  margin: 10px;
  border-radius: 15px;
  height:20px;
}
header{
  margin-top: 30px;
  font-size: 30px;
  text-decoration: wavy underline;
  margin-left: -40px;
  margin-bottom: 30px;
}
li{
  list-style: none;
}
.addB:hover {
  transform: translateY(-1px);
}
.addB {
  transition: all;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(174, 219, 193);
}
.todo-filter{
  border-radius: 15px;
  margin-left: -20px;
}
.complete{
  transition: all;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(174, 219, 193);
  margin-bottom: 10px;
}
.delete{
  transition: all;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(174, 219, 193);
}
ul{
  border: 2px solid black;
  margin: 10px;
  background-color: #99a8bb;
  margin-left: -50px;
  margin-right: 0px;
}
