.App {
  text-align: center;
  background-color: rgb(189, 199, 207);
}
.inputBox{
  margin-right: 3px;
  border-radius: 5px;
  border: 2px solid rgb(64, 69, 71);
}
.shorty {
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 200px;

}
.results{
  display: flex;
  border: 3px double rgb(8, 35, 53);
  justify-content: center;
  padding:30px;
  background-color: rgb(235, 235, 235) ;
}
button {
  display: inline-block;
  margin-top: 250px;
  margin-left: 250px;
  color: rgb(105, 109, 112);
  border-radius: 3px;
  border: 1px inset rgb(120, 129, 131);
  /* width: 60px;
  height: 20px; */
  background: none;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
button:hover {
  color: rgb(75, 80, 90);
  border: 1px solid rgb(46, 49, 51);
  box-shadow: 0 0.5em 0.5em -0.4em rgb(53, 61, 66);
  transform: translateY(-2px);
  cursor: pointer;
}

